<section class="bloque">
    <div class="contenedor">
        <h1 class="bloque_heading">Parqueadero ADN</h1>
        <div class="bloque_grid">
            <div *ngFor="let l of lista">
                <h2 class="bloque_heading">{{l.tipt_tipo}}</h2>
                <div class="vehiculos_grid">
                    <div
                        *ngFor="let lm of (lista_movp | filtrar:{'columna_filtrar': l.tipt_codigo.toString(), 'columna_items': 'tipt_codigo'})">

                        <!-- Disponible -->
                        <div class="vehiculo listado_elemento" *ngIf="!lm.movp_codigo" (click)="open(content, lm)">
                            <p class="vehiculo_texto_{{lm.tipt_tipo | lowercase}}">{{lm.numero}}</p>
                            <p class="vehiculo_estado">Disponible</p>
                        </div>

                        <!-- Ocupado -->
                        <div class="vehiculo listado_elemento ocupado" *ngIf="lm.movp_codigo">
                            <p class="vehiculo_texto_{{lm.tipt_tipo | lowercase}}">{{lm.numero}}</p>
                            <p class="vehiculo_estado ocupado">Ocupado</p>
                            <p class="cuota_de_parqueo" title="Generar ticket de pago" (click)="open(content, lm)"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Parqueo de {{movp_seleccionado.tipt_tipo}} numero
            {{movp_seleccionado.numero}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSumbit()" #userForm="ngForm">
            <div class="row" *ngIf="movp_seleccionado.movp_codigo">
                <div class="col-sm">
                    <label>Codigo del parqueo: {{movp_seleccionado.movp_codigo}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="movp_placa">Placa: </label>
                        <input type="text" name="movp_placa" #movp_placas="ngModel" class="form-control"
                            [(ngModel)]="movp_seleccionado.movp_placa" required pattern="[0-9]+"
                            disabled="{{movp_seleccionado.movp_codigo?true:false}}" />
                        <small *ngIf="!movp_placas.valid && movp_placas.touched" class="text-danger">
                            La placa no es valido
                        </small>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="movp_seleccionado.tipt_codigo==1">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="movp_cilindraje">Cilindraje: </label>
                        <input type="number" name="movp_cilindraje" #movp_cilindraje="ngModel" class="form-control"
                            [(ngModel)]="movp_seleccionado.movp_cilindraje" required pattern="[0-9]+"
                            disabled="{{movp_seleccionado.movp_codigo?true:false}}" />
                        <small *ngIf="!movp_cilindraje.valid && movp_cilindraje.touched" class="text-danger">
                            El cilindraje no es valido
                        </small>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="movp_seleccionado.movp_hora_entrada">
                <div class="col-sm">
                    <label>Hora de entrada: {{movp_seleccionado.movp_hora_entrada | date:'short'}}</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <label>Valor por hora: $ {{movp_seleccionado.cap_valor_hora}}</label>
                </div>
                <div class="col-sm">
                    <label>Valor por día: $ {{movp_seleccionado.cap_valor_dia}}</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div *ngIf="!movp_seleccionado.movp_codigo">
            <button type="button" class="btn btn-primary" (click)="guardar(modal)"
                [disabled]="userForm.invalid">Guardar</button>
        </div>
        <div *ngIf="movp_seleccionado.movp_codigo">
            <button type="button" class="btn btn-success" (click)="generarTicket(modal)">Generar Ticket</button>
        </div>
    </div>
</ng-template>
<pre>{{ closeResult }}</pre>